/* src/components/mealmateboard/MealMatePostList.css */
.mealmate-post-list { /* 클래스명 변경됨 */
  padding: 20px;
  max-width: 800px; /* 목록의 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

.no-posts {
  text-align: center;
  color: #777;
  padding: 20px;
  font-style: italic;
}

/* 다크 모드 스타일 */
.dark-mode .no-posts {
  color: #bbb;
}