.header {
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.input {
  font-size: 18px;
  width: 100%;
  max-width: 1400px; /* 넓어짐 */
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.close {
  font-size: 28px;
  background: none;
  border: none;
  color: #888;
  margin-left: 24px;
  cursor: pointer;
}
