.sideBar {
  width: 15%; /* 기존보다 넓게 */
  background-color: #f5f3ff;
  padding: 24px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: -11px;
  font-size: 22px; /* 폰트 크게 */
  font-weight: bold;
  margin-bottom: 20px;
}

.image {
  width: 200px;
  height: auto;
  mix-blend-mode: multiply; /* 투명 배경 적용용 */
}

.userContainer {
  display: flex;
  margin-left: 0;
  gap: 30px;
  justify-content: center;
}

.signIn, .register {
  font-size: 16px;
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  text-align: center;
  border: none;
}

.signIn {
  background-color: #f0f0f0;
}

.register {
  background-color: #e0e0e0;
}

.board {
  font-size: 16px;
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  border: none;
}

.bottomButtons {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

hr {
  width: 100%;         /* 너비를 전체로 */
  border: none;
  border-top: 1px solid #ccc; /* 얇은 회색 선 */
  margin: 20px 0;      /* 위아래 간격 */
}

.save, .cancel {
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
}

.save {
  background-color: #7c3aed;
  color: white;
}

.cancel {
  background-color: white;
  border: 1px solid #ccc;
}