/* index.css */
:root {
  --background-color: #ffffff;
  --text-color: #213547;
  --button-bg: #f9f9f9;
  --button-hover: #e6e6e6;
  --sidebar-bg: #f5f3ff;
  --border-color: #ccc;
  --box-bg: #FFFACD;
  --station-bg: #22c55e;
  --station-hover-bg: #FFFACD;
  --station-hover-color: black;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #f0f0f0;
  --button-bg: #1e1e1e;
  --button-hover: #333;
  --sidebar-bg: #1a1a1a;
  --border-color: #444;
  --box-bg: #2e2e2e;
  --station-bg: #4ade80;
  --station-hover-bg: #3b3b3b;
  --station-hover-color: white;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
button:hover {
  background-color: var(--button-hover);
}
